<a href="https://colab.research.google.com/github/Gowshik002/data_science/blob/main/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.Series([1,2,3,4,5,np.nan,6,7,8])
data

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
6    6.0
7    7.0
8    8.0
dtype: float64

In [3]:
data.isnull()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
dtype: bool

In [5]:
data.notnull()

0     True
1     True
2     True
3     True
4     True
5    False
6     True
7     True
8     True
dtype: bool

In [9]:
dict1={
    0:[1,4,7,np.nan],
    1:[2,5,np.nan,np.nan],
    2:[3,np.nan,np.nan,np.nan],
    3:[np.nan,np.nan,np.nan,np.nan]
}
dict1

{0: [1, 4, 7, nan],
 1: [2, 5, nan, nan],
 2: [3, nan, nan, nan],
 3: [nan, nan, nan, nan]}

In [13]:
df=pd.DataFrame(dict1)
df

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  NaN NaN
2  7.0  NaN  NaN NaN
3  NaN  NaN  NaN NaN

In [14]:
df.dropna()             #drops entire row if one nan value is present

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [15]:
df.dropna(how='all')       #deletes the row in which all the values are null

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  NaN NaN
2  7.0  NaN  NaN NaN

In [16]:
df.dropna(axis=1,how='all')     #deletes the column in which all the values are null

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.0  NaN
2  7.0  NaN  NaN
3  NaN  NaN  NaN

In [17]:
df

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  NaN NaN
2  7.0  NaN  NaN NaN
3  NaN  NaN  NaN NaN

In [18]:
df.dropna(thresh=1)     #threshold requires that many 'non nan' values

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  NaN NaN
2  7.0  NaN  NaN NaN

#filling the null values


*   syntax->df.fillna(val)
*   returns a new DataFrame

In [19]:
df

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  NaN NaN
2  7.0  NaN  NaN NaN
3  NaN  NaN  NaN NaN

In [25]:
df_fill=df.fillna(10)
df_fill

      0     1     2     3
0   1.0   2.0   3.0  10.0
1   4.0   5.0  10.0  10.0
2   7.0  10.0  10.0  10.0
3  10.0  10.0  10.0  10.0

In [23]:
df_fill=df.fillna({0:10,1:20,2:30,3:40})          #to fill particular values in particular columns
df_fill

      0     1     2     3
0   1.0   2.0   3.0  40.0
1   4.0   5.0  30.0  40.0
2   7.0  20.0  30.0  40.0
3  10.0  20.0  30.0  40.0

In [27]:
df_fill=df.fillna(method='ffill')    #fills the nan values by previous observation/row value
df_fill

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  3.0 NaN
2  7.0  5.0  3.0 NaN
3  7.0  5.0  3.0 NaN

In [28]:
df_fill=df.fillna(method='ffill',limit=2)        #if you specify the limit then for those many values in the column it will fill the values
df_fill

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  3.0 NaN
2  7.0  5.0  3.0 NaN
3  7.0  5.0  NaN NaN

In [29]:
df_fill=df.fillna(method='ffill',limit=2,axis=1)
df_fill

     0    1    2    3
0  1.0  2.0  3.0  3.0
1  4.0  5.0  5.0  5.0
2  7.0  7.0  7.0  NaN
3  NaN  NaN  NaN  NaN

#df mean()


*    gives the mean
*   to fill the missing values by the mean values we use mean()

In [30]:
df_mean=df.fillna(df.mean())
df_mean

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  3.0 NaN
2  7.0  3.5  3.0 NaN
3  4.0  3.5  3.0 NaN

#.replace(old_val,new_val)

*   replace old values with new values
*   values can be anything

In [31]:
ser1=pd.Series([1,2,100,4,5,100,7,8,100])
ser1

0      1
1      2
2    100
3      4
4      5
5    100
6      7
7      8
8    100
dtype: int64

In [34]:
ser1.replace(100,1)        #to replace 100 with 1

0    1
1    2
2    1
3    4
4    5
5    1
6    7
7    8
8    1
dtype: int64

In [35]:
ser1.replace([100,1,2],50)           #to replace multiple values with single value

0    50
1    50
2    50
3     4
4     5
5    50
6     7
7     8
8    50
dtype: int64

In [36]:
ser1.replace({100:np.nan,1:50})

0    50.0
1     2.0
2     NaN
3     4.0
4     5.0
5     NaN
6     7.0
7     8.0
8     NaN
dtype: float64

# get_dummies()


*   one of the method to convert categorical variable to numerical variable

In [38]:
ser2=pd.Series(list('abcdeabcd'))
ser2

0    a
1    b
2    c
3    d
4    e
5    a
6    b
7    c
8    d
dtype: object

In [39]:
pd.get_dummies(ser2)

   a  b  c  d  e
0  1  0  0  0  0
1  0  1  0  0  0
2  0  0  1  0  0
3  0  0  0  1  0
4  0  0  0  0  1
5  1  0  0  0  0
6  0  1  0  0  0
7  0  0  1  0  0
8  0  0  0  1  0