<a href="https://colab.research.google.com/github/Gowshik002/data_science/blob/main/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [10]:
data=pd.Series([0,1,2,3,4,5,np.nan,6,7,8])

In [11]:
data

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    NaN
7    6.0
8    7.0
9    8.0
dtype: float64

#to detect null **values**

In [14]:
data.isnull()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
9    False
dtype: bool

#  detect existing values (non-missing )

In [15]:
data.notnull()

0     True
1     True
2     True
3     True
4     True
5     True
6    False
7     True
8     True
9     True
dtype: bool

#creating a dataframe

In [17]:
dict1={
    0:[1,4,7,np.nan],
    1:[2,5,np.nan,np.nan],
    2:[3,np.nan,np.nan,np.nan],
    3:[np.nan,np.nan,np.nan,np.nan]
}

In [19]:
df=pd.DataFrame(dict1)

In [20]:
df

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  NaN NaN
2  7.0  NaN  NaN NaN
3  NaN  NaN  NaN NaN

#drop a entire row if one nan value present

In [21]:
df.dropna()

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

#deletes the row in which all the values are null

In [23]:
df.dropna(how='all')

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  NaN NaN
2  7.0  NaN  NaN NaN

#deletes the columns in which all the values are null

In [26]:
df.dropna(axis=1,how='all')

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.0  NaN
2  7.0  NaN  NaN
3  NaN  NaN  NaN

#threshold requires many non-nan values

In [27]:
df.dropna(thresh=1)

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  NaN NaN
2  7.0  NaN  NaN NaN

In [28]:
df.dropna(axis=1,thresh=1)

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.0  NaN
2  7.0  NaN  NaN
3  NaN  NaN  NaN

#filling the null values

   1.syntax-->df.fillna(val)

   2.returns a new DataFrame

In [29]:
df_fill=df.fillna(10)

In [30]:
df_fill

      0     1     2     3
0   1.0   2.0   3.0  10.0
1   4.0   5.0  10.0  10.0
2   7.0  10.0  10.0  10.0
3  10.0  10.0  10.0  10.0

In [31]:
df_fill=df.fillna({0:10,1:20,2:30,3:40})

In [32]:
df_fill

      0     1     2     3
0   1.0   2.0   3.0  40.0
1   4.0   5.0  30.0  40.0
2   7.0  20.0  30.0  40.0
3  10.0  20.0  30.0  40.0

In [35]:
df_fill=df.fillna(method='ffill')

In [36]:
df_fill

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  3.0 NaN
2  7.0  5.0  3.0 NaN
3  7.0  5.0  3.0 NaN

In [39]:
df_fill=df.fillna(method='ffill',limit=2)
df_fill

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  3.0 NaN
2  7.0  5.0  3.0 NaN
3  7.0  5.0  NaN NaN

#df.mean()


*   gives the mean
*   to fill the missing values by the mean values we use mean()

In [41]:
df_mean=df.fillna(df.mean())
df_mean

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  3.0 NaN
2  7.0  3.5  3.0 NaN
3  4.0  3.5  3.0 NaN

#.replace(old_val,new_val)


*   replace the old values with new values
*   values can be anything

In [47]:
ser1=pd.Series([1,2,3,100,45,100,9,8,5])
ser1

0      1
1      2
2      3
3    100
4     45
5    100
6      9
7      8
8      5
dtype: int64

In [48]:
ser1.replace(100,1000)      #to replace 100 with 1000

0       1
1       2
2       3
3    1000
4      45
5    1000
6       9
7       8
8       5
dtype: int64

In [49]:
ser1.replace([100,1000,2],500)        #to replace multiple values with single value

0      1
1    500
2      3
3    500
4     45
5    500
6      9
7      8
8      5
dtype: int64

In [50]:
ser1.replace({100:np.nan,2:250})

0      1.0
1    250.0
2      3.0
3      NaN
4     45.0
5      NaN
6      9.0
7      8.0
8      5.0
dtype: float64

# get_dummies()
method to convert categorical variable to numerical variable

In [51]:
ser2=pd.Series(list('abcdeabcd'))
ser2

0    a
1    b
2    c
3    d
4    e
5    a
6    b
7    c
8    d
dtype: object

In [52]:
pd.get_dummies(ser2)

   a  b  c  d  e
0  1  0  0  0  0
1  0  1  0  0  0
2  0  0  1  0  0
3  0  0  0  1  0
4  0  0  0  0  1
5  1  0  0  0  0
6  0  1  0  0  0
7  0  0  1  0  0
8  0  0  0  1  0